<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>food_manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeskServlet</display-name>
    <servlet-name>DeskServlet</servlet-name>
    <servlet-class>com.et.controller.desk.DeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeskServlet</servlet-name>
    <url-pattern>/DeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeskServlet</display-name>
    <servlet-name>AddDeskServlet</servlet-name>
    <servlet-class>com.et.controller.desk.AddDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeskServlet</servlet-name>
    <url-pattern>/AddDeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDesk</display-name>
    <servlet-name>DeleteDesk</servlet-name>
    <servlet-class>com.et.controller.desk.DeleteDesk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDesk</servlet-name>
    <url-pattern>/DeleteDesk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDeskServlet</display-name>
    <servlet-name>UpdateDeskServlet</servlet-name>
    <servlet-class>com.et.controller.desk.UpdateDeskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeskServlet</servlet-name>
    <url-pattern>/UpdateDeskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodTypeServlet</display-name>
    <servlet-name>FoodTypeServlet</servlet-name>
    <servlet-class>com.et.controller.foodtype.FoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodTypeServlet</servlet-name>
    <url-pattern>/FoodTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodTypeServlet</display-name>
    <servlet-name>AddFoodTypeServlet</servlet-name>
    <servlet-class>com.et.controller.foodtype.AddFoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodTypeServlet</servlet-name>
    <url-pattern>/AddFoodTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodTypeServlet</display-name>
    <servlet-name>DeleteFoodTypeServlet</servlet-name>
    <servlet-class>com.et.controller.foodtype.DeleteFoodTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodTypeServlet</servlet-name>
    <url-pattern>/DeleteFoodTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodType</display-name>
    <servlet-name>UpdateFoodType</servlet-name>
    <servlet-class>com.et.controller.foodtype.UpdateFoodType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodType</servlet-name>
    <url-pattern>/UpdateFoodType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>com.et.controller.food.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/FoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodServlet</display-name>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>com.et.controller.food.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/DeleteFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodServlet</display-name>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <servlet-class>com.et.controller.food.UpdateFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <url-pattern>/UpdateFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFoodServlet</display-name>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>com.et.controller.food.AddFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/AddFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.et.controller.food.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListServlet</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.et.controller.orderList.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailServlet</display-name>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>com.et.controller.orderList.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrderServlet</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>com.et.controller.orderList.MyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/MyOrderServlet</url-pattern>
  </servlet-mapping>
</web-app>